
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap');
*{
    font-family: "Work Sans", sans-serif;
}
/*headee style*/
header{
    background-color: #ff900d1a;
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav-title{
    font-size:3rem;
     font-weight: 700;
     color: var(--dark-01);
}
nav > ul{
    display:flex;}

 nav li{

    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size:1rem;
}
nav li a{
    text-decoration: none;
    color: #070707;
}
/*banner style*/
.banner-content{
    max-width: 800px;
    text-align: center;
    margin:0 auto;

}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;

}
.banner-description{
    color: #727272;
}
.btn-primary{
    border-radius: 8px;
    background-color: #FF900E;
}
