
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap');
*{
    font-family: "Work Sans", sans-serif;
}
.text-color{
    color: #727272;
}
/*headee style*/
header{
    background-color: #ff900d1a;
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.section-title{
    font-size:3rem;
     font-weight: 700;
     color: var(--dark-01);
}
nav > ul{
    display:flex;}

 nav li{

    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size:1rem;
}
nav li a{
    text-decoration: none;
    color: #070707;
}
/*banner style*/
.banner-content{
    max-width: 800px;
    text-align: center;
    margin:0 auto;

}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;

}
.banner-description{
    color: #727272;
}
.btn-primary{
    border-radius: 8px;
    background-color: #FF900E;
    padding:20px 25px;
    color:#FFF;
    cursor:pointer;
    border:0;
}
.banner img{
    width:100%;
    margin: 20px;
    
}

/*main style*/
main {
    max-width: 1440px;
    margin:0 auto;
}
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.teams-content{
    padding-right: 70px;
    padding-left:70px;
}
.teams-title{
    font-size:2.8rem;
}
.teams-title-1{
    color:#727272;
    font-weight: 500;
}
.teams-title-2{
    color:#131313;
    font-weight: 700;
}
.teams-title-3{
    color:#FF900E;
    font-weight: 400;
}
/*feature section*/
.feature{
    display: flex;
    margin-top: 130px;
    gap:100px;
}
.feature .section-title{
    border-left: 5px solid#FF900E;
   padding-left:20px;
}
.feature-content .card{
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 30px #0000000f;
    margin-bottom:20px;
    padding: 30px;
}
.feature-img img{
    height: 90%;
    margin-left:90px;
}
.ten-year{
    background-color: #ff900d;
    border-radius: 8px;
    color:white;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten-year h2{
    font-size: 4rem;
    margin:0;

}
.ten-year p{
    font-size: 1.5rem;
}

/*facts section*/
.facts-card{
    display:flex;
    justify-content: space-around;
}
.facts-card .card{
    border-radius: 8px;
    border:1px solid#FF900E;
    text-align: center;
    padding:  30px;
}
.facts-card .card-title{
    font-weight: 600;
    color:#727272;
    margin: 5px;

    font-size: 1.25rem;

}
.facts-card .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sponsors{
    text-align: center;
}
.sponsors-img{
    display:flex;
    justify-content: space-evenly;
    margin-top: 50px;
    gap:20px;
    align-items: center;
}
.sponsors-img img{
    width:165px;
}
/*main section end*/
/*footer start*/
.footer{
    background-color: #fff4e7;
    border-radius: 8px; 
    margin:200px 240px;
    
    padding: 5px;
    text-align: center;
    position: relative;
    left:5rem;
    width: fixed 1440px;
    height: 100px;

   
}
.footer p{
    padding: 5px;
    align-items: center;
    font-size: 20px;


}







/*media responsse */
/*mobile device*/
@media screen and (max-width:576px) {
    heder{
        padding:20px;
    }
    nav,.teams-container,.sponsors-img,.feature,
    .facts-card{
        flex-direction: column;
    }
    .feature-img img{
        width: 100%;
        margin-left: 0;
    }
    .ten-year{
        position: static;
        max-width: 300px;
    }
    .teams-img,.sponsors-img{
        grid-template-columns: 1fr;
    }
    .teams-content,.facts-card{
        padding-right: 20px;
        padding-left:20px;
    }
.facts-card{
    gap: 20px;
}
}
/*tablet or medium device*/

@media screen and (min-width:576px) and (max-width:960px) {
    header{

    
    padding:50px;}
   nav,
   .teams-container,.sponsors-img,.feature
   {
    flex-direction: column;
   } 
}